{% extends 'base/base.html' %}

{% block title %}Registrar Usuario{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/registrar_usuario.css' %}">

<div class="form-container">
    <h2>Registrar Nuevo Usuario</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-submit">Registrar</button>
    </form>
</div>

<div class="bottom-container">
    <a href="{% url 'bienvenida' %}" class="btn-back">Volver</a>
</div>

{% endblock %}
