/* list_vehicles.css */

/* Estilo para el formulario de búsqueda */
form {
    margin-bottom: 20px;
    text-align: center;
}

form input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
    margin-right: 10px;
}

form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #0056b3;
}

/* Estilo para la tabla de vehículos */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Estilo para los botones de acción */
a {
    display: inline-block;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

a:hover {
    opacity: 0.8;
}

a.edit {
    background-color: #ffc107;
    color: black;
}

a.edit:hover {
    background-color: #e0a800;
}

form button {
    background-color: #dc3545;
}

form button:hover {
    background-color: #c82333;
}

/* Estilo del botón de volver */
a.btn-volver {
    display: inline-block;
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-weight: bold;
}

a.btn-volver:hover {
    background-color: #0056b3;
}
